.manage-content h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.table th, .table td {
  vertical-align: middle;
}
.manage-content button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
